<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <storelocator>
            <google_api_key>
                <frontend>
                    AIzaSyCQ688uhIYTXi4kphAvgTq0Lf25dg62198
                </frontend>
            </google_api_key>
        </storelocator>
    </default>
</config>
