<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_StoreLocator::storelocator" title="Store Locator" translate="title" module="Codilar_StoreLocator" sortOrder="510"  resource="Codilar_StoreLocator::configuration" />
        <add id="Codilar_StoreLocator::stores_list" title="Manage Stores" translate="title" module="Codilar_StoreLocator" sortOrder="530" parent="Codilar_StoreLocator::storelocator" action="storelocator/stores" resource="Codilar_StoreLocator::stores" />
    </menu>
</config>
